@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

h1, h2, h3, h4, button{
    font-family: 'Montserrat', sans-serif;
}

p, tr{
    font-family: 'Roboto', sans-serif;
}

textarea{
    resize: none;
}

a{
    text-decoration: none;
}

/* Pagina principal  */
.bg-main{
    background-color: #001f54;
    background-image: linear-gradient(160deg, #001f54 0%, #030c26 100%);
}

.imagenCarousel {
    height: 580px;
    object-fit: cover;
}

.btn-customized{
    background: #23A6F0;
    padding: 12px 20px;
    border-radius: 20px;
    color: #fff;
    border: none;
    font-weight: 700;
    transition: .3s;
}
.btn-customized:hover{
    filter: brightness(1.2);
}

#buscarJuego{
    height: 42px;
}

.card-customized{
    background: rgba(0,0,0,0.4);
    min-width: 14rem;
}

.genero{
    color: #23A6F0;
    font-weight: 700;
    text-transform: uppercase;
}

.price{
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

.price span{
    font-weight: 300;
    color: #ccc;
    text-decoration: line-through; 
}

.img-card-container{
    height: 340px;
    overflow: hidden;
}

.img-card-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .7s;
}
.img-card-container img:hover{
    transform: scale(1.2);
}